{% extends 'layouts/listTable.twig' %}

{% set boxHeadingTitle = title %}

{% block boxTools %}
    <a class="btn btn-primary btn-xs" href="{{ path('issues_create', {'identifier': project.identifier}) }}">
        <i class="fa fa-plus-square"></i>
        {{ 'buttons.create' | trans }}
    </a>
{% endblock %}

{% block tableHead %}
    <thead>
        <tr>
            <th>{{ 'list.id' | trans }}</th>
            <th>{{ 'list.subject' | trans }}</th>
            <th>{{ 'list.tracker' | trans }}</th>
            <th>{{ 'list.status' | trans }}</th>
            <th>{{ 'list.priority' | trans }}</th>
            <th>{{ 'list.assignee' | trans }}</th>
            <th>{{ 'list.createdAt' | trans }}</th>
            <th>{{ 'list.updatedAt' | trans }}</th>
        </tr>
    </thead>
{% endblock %}

{% block tableBody %}
    <tbody class="issue-table">
        {% for object in collection %}
            <tr class="{{ object.status.className }} {{ object.priority.className }}">
                <td>
                    <a href="{{ path('issues_edit', {'id': object.id}) }}">{{ object.id }}</a>
                </td>
                <td>
                    <a href="{{ path('issues_edit', {'id': object.id}) }}">{{ object.subject }}</a>
                </td>
                <td>{{ object.tracker.title }}</td>
                <td>{{ object.status.title }}</td>
                <td>{{ object.priority.title }}</td>
                <td>{{ object.assignedTo.name | default(false) }}</td>
                <td>{{ timeAgo(object.createdAt) }}</td>
                <td>{{ timeAgo(object.updatedAt) }}</td>
            </tr>
        {% else %}
            <tr class="danger">
                <td colspan="8" class="text-center">{{ 'warnings.noResults' | trans }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block tableFooter %}
    {{ widget('pagination', { 'paginator': collection }) }}
{% endblock %}